# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    target-branch: 'main'
    directories:
      - '/'
      - '/shared'
      - '/task'
      - '/ui'
    schedule:
      interval: 'weekly'
      day: 'saturday'
      time: '06:00'
      timezone: 'Pacific/Auckland'
    ignore:
      # Don't update react until azure-devops-ui supports new versions
      - dependency-name: '*react'
        versions: ['>=18.0.0']
      - dependency-name: '*react-dom'
        versions: ['>=18.0.0']
