@use 'node_modules/azure-devops-ui/Core/override.css';

$severity-critical: hsl(from var(--component-status-error) h s calc(l - 5));
$severity-critical-background: hsl(from var(--status-error-background) h s calc(l - 5));
$severity-error: var(--component-status-error);
$severity-error-background: var(--status-error-background);
$severity-moderate: var(--component-status-warning);
$severity-moderate-background: var(--status-warning-background);
$severity-info: var(--component-status-info);
$severity-info-background: var(--status-info-background);
$severity-none: var(--component-status-neutral);
$severity-none-background: var(--status-neutral-background);

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.flex-gap-4 {
  gap: 4px;
}

.flex-gap-8 {
  gap: 8px;
}

.flex-gap-16 {
  gap: 16px;
}

.flex-gap-24 {
  gap: 24px;
}

.margin-vertical-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.full-view-height {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden !important;
}

.text-on-communication-background {
  color: var(--text-on-communication-background);
}

.bolt-tabbar-compact .bolt-tablist-title,
.bolt-tabbar-compact .bolt-tablist-subtitle,
.bolt-tabbar-compact .bolt-tablist-heading,
.bolt-tabbar-compact .bolt-tab {
  padding-left: 8px;
}

.bolt-tabbar-compact .bolt-tab-text {
  overflow: hidden !important;
}
