@use 'node_modules/azure-devops-ui/Core/override.css';

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.text-on-communication-background {
  color: var(--text-on-communication-background);
}

.flex-gap-4 {
  gap: 4px;
}

.flex-gap-8 {
  gap: 8px;
}

.flex-gap-16 {
  gap: 16px;
}
